.root {
    -fx-background-color: #F9FBFC;
}

.main-container-style {
    -fx-background-color: #FFFFFF;
    -fx-border-color: #707070;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
}

Label{
    -fx-font-size: 25;
}

.add-member-title-style{
    -fx-font-size: 80;
    -fx-text-fill: black;
}

Button {
    -fx-background-color: #D10D1B;
    -fx-background-radius: 50;
    -fx-text-fill: white;
}

Button:hover {
    -fx-font-weight: bold;
    -fx-border-radius: 50;
    -fx-border-color: white;
    -fx-border-width: 2px;
}
TextField{
    -fx-font-size: 20;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
}